/* normalize */
:global(html) {
  font-size: 10px;
}

:global(*) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:global(*:before) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:global(*:after) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* end of normalize*/

.container {
  margin-right: auto;
  margin-left: auto;

  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.container--row {
  flex-direction: row;
  align-items: center;
}

.container--column {
  flex-direction: column;
}

/* navbar */
.navbar {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__title-img {
  width: 2.4rem;
  height: 2.4rem;
}

.navbar__title-text {
  padding: 6px 12px;
  font-size: 1.6rem;
}

.navbar__item {
  display: inline-flex;
}

/* end of navbar */

/* general configuration */
a {
  color: #337ab7;
  text-decoratrion: none;
}
/* end of general configuration */

/* button control */
.button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.6rem;
}
/* end of button control */

/* login/register related */

.login-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 35rem;
}

.login-container__title-wrapper {
  width: 100%;
  text-align: center;
}

.login-container__form {
  margin: 1rem 0;
  padding: 0.2em 0;
  border: 1px solid #d5d5d5;
  border-radius: 0.3em;
}

.login-container__form-item {
  padding: 0 1rem;
}

.login-container__form-item input {
  height: 3rem;
  font-size: 1.8rem;
  width: 100%;
  border: 0;
  outline: none;
}

.login-container__form-item + .login-container__form-item {
  border-top: 1px solid #e8e8e8;
}

.login-container__login-button-wrapper {
  margin-top: 1rem;
  width: 100%;
}

.login-container__login-button {
  width: 100%;
  height: 2.5rem;
  font-size: 1.8rem;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
}

.login-container__login-button:hover {
  background: #3399cc;
}

/* end of login/register related */

/* used for test usage */
.aaa {
  display: inline-block;
}

.bbb {
  margin-left: -50px;
}

.ccc {
  display: inline-block;
}

.body {
  width: 300px;
  position: relative;
  overflow: hidden;
}

.aside {
  width: 100px;
  height: 150px;
  float: left;
  background: #f66;
}

.main {
  height: 200px;
  background: #fcc;
}

/* end of used for test usage */
